<h1>Hi <%= user.name %> , </h1>
<br/>

<h2>We received a request about the new map item and the community changed the status to <%= status %></h2>

<h2>If you do not asked for this, ignore this email. If that repeats please enter in touch with us!</h2>
