# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.env
.idea/
.sass-cache/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
www/build/
$RECYCLE.BIN/
typings/globals/
typings/modules/
platforms/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate

#cordova
plugins/
plugins2/
bower_components/
brigadistacivil/resources/*
brigadistacivil/resources/android/**/*
brigadistacivil/resources/ios/**/*

.vscode

test/.build/
test/.bundles/
.awcache/
