<ion-header>
  <ion-navbar brigadistacivil>
    <button class="options-button" menuToggle ><ion-icon name="menu"></ion-icon></button>

    <ion-title>Brigadista Civil</ion-title>

  </ion-navbar>
</ion-header>



<ion-content class="chats-page-content">
  <ion-list class="chats">
    <ion-item-sliding *ngFor="let chat of chats">
      <button ion-item class="chat" (click)="showMessages(chat)">
        <img class="chat-picture" [src]="chat.picture">

        <div class="chat-info">
          <h2 class="chat-title">{{chat.title}}</h2>

          <span *ngIf="chat.lastMessage" class="last-message">
            <p class="last-message-content">{{chat.lastMessage.content}}</p>
            <span class="last-message-timestamp">{{chat.lastMessage.createdAt | amCalendar}}</span>
          </span>
        </div>
      </button>

      <ion-item-options class="chat-options">
        <button danger class="option option-remove" (click)="removeChat(chat)">Remove</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
