<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ "app.name" | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="login-page-content">
  <div class="instructions">
    <div>
      {{ "user.recover.title" | translate }}
    </div>
    <br>
    <p *ngIf="user">
      Olá {{user.name}}, este é um pedido para reiniciar senha feito através do email: {{user.email}}
    </p>
  </div>
  <form [formGroup]="recoverForm" (ngSubmit)="recoverPage(recoverForm.value)">

    <ion-item>
      <ion-input [formControl]="recoverForm.controls['password']" required type="password" placeholder="{{ 'user.password' | translate }}"></ion-input>
    </ion-item>
    <button ion-button block>{{ "user.recover.enter" | translate }}</button>
  </form>
</ion-content>
