<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ "chat.title" | translate }}</ion-title>
    <button ion-button menuToggle icon-only>
     <ion-icon name="menu"></ion-icon>
   </button>
    <ion-buttons end>
      <button ion-button (click)="addChat()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="chats-page-content">

  <ion-grid fixed>
    <ion-row>
      <ion-col *ngFor="let chat of chats" col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4>

        <ion-card >
          <ion-list>
            <ion-item-sliding>

              <ion-item text-wrap >
                 <ion-avatar item-left>
                  <img [src]="chat.image" *ngIf="chat && chat.image">
                  <img src="/assets/img/bg.jpg" *ngIf="!chat || !chat.image">
                </ion-avatar>
                <h2 (click)="showChat(chat)">{{chat.title}}</h2>
                <p>{{chat.description}}</p>
                <p *ngIf="chat.lastMessage && chat.lastMessage.type == 'text'" class="last-message-content last-message-content-text">{{chat.lastMessage.content}}
                  <span class="last-message-timestamp">{{ chat.lastMessage.createdAt }}</span>
                </p>
              </ion-item>
              <ion-item-options class="chat-options">
                <button ion-button color="danger" class="option option-remove" 
                (click)="removeChat(chat)">{{ "remove" | translate }}</button>
              </ion-item-options>
            </ion-item-sliding>
          </ion-list>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>