<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ "fire.new.title" | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only
        (click)="openMenu()" *ngIf="!isCordova() && fire._id && isInBrigade()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  
  <ion-toolbar no-border-top hideWhen="android,ios" *ngIf="!isCordova() && fire._id && isInBrigade()">
    <ion-segment >
      <ion-segment-button value="checking" *ngIf="fire.status=='open'" (click)="changeStatus('checking')">
        {{ "fire.checking" | translate }}
      </ion-segment-button>
      <ion-segment-button value="confirmed" *ngIf="fire.status=='checking'" (click)="changeStatus('confirmed')">
        {{ "fire.confirmed" | translate }}
      </ion-segment-button>
      <ion-segment-button value="not_confirmed" *ngIf="fire.status=='checking'" (click)="changeStatus('not_confirmed')">
        {{ "fire.not_confirmed" | translate }}
      </ion-segment-button>
      <ion-segment-button value="startCombat" *ngIf="fire.status=='confirmed'" (click)="changeStatus('fighting')">
        {{ "fire.startCombat" | translate }}
      </ion-segment-button>
      <ion-segment-button value="enterCombat" *ngIf="fire.status=='fighting' && isTracking()!=true" (click)="tracking()">
        {{ "fire.enterCombat" | translate }}
      </ion-segment-button>
      <ion-segment-button value="stopCombat" *ngIf="fire.status=='fighting' && isTracking()==true" (click)="tracking()">
        {{ "fire.stopCombat" | translate }}
      </ion-segment-button>
      <ion-segment-button value="aftermath" *ngIf="fire.status=='fighting'" (click)="changeStatus('aftermath')">
        {{ "fire.aftermath" | translate }}
      </ion-segment-button>
      <ion-segment-button value="closeCombat" *ngIf="fire.status=='aftermath'" (click)="changeStatus('finished')">
        {{ "fire.closeCombat" | translate }}
      </ion-segment-button>
      <ion-segment value="finished" *ngIf="fire.status=='finished'">
        {{ "fire.finished" | translate }}
      </ion-segment>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-tabs  tabbarPlacement="bottom" #myTabs>
    <ion-tab tabIcon="flame" tabTitle="Fire" [root]="tab1Root"></ion-tab>
    <ion-tab tabIcon="map" tabTitle="Map" [root]="tab2Root"></ion-tab>
    <ion-tab tabIcon="mail" tabTitle="Chat" (click)="openChat()"></ion-tab>
  </ion-tabs>

</ion-content>