<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ "brigades.title" | translate }}</ion-title>
    <button ion-button menuToggle icon-only>
     <ion-icon name="menu"></ion-icon>
   </button>

    <ion-buttons end>
      <button ion-button (click)="addBrigade()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">

  <div *ngIf="brigades">

    <ion-grid fixed>
      <ion-row>
        <ion-col *ngFor="let brigade of brigades; let i = index;" col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4>

          <ion-card>
            <img [src]="brigade.image" *ngIf="brigade.image">
            <img src="/assets/img/bg.jpg" *ngIf="!brigade.image">


            <div class="card-title">{{brigade.name}}</div>
            <div class="card-subtitle">{{brigade.city}}</div>


            <!-- <ion-list>
              <ion-item text-wrap *ngIf="brigade.createdAt">
                <ion-icon name="md-calendar" item-left large></ion-icon>
                <h2>{{brigade.createdAt |  date: 'dd/MM/yyyy' }}</h2>
              </ion-item>
            </ion-list>-->

             <ion-item actions>
                <button (click)="showBrigade(brigade)" ion-button color="secondary" clear item-right icon-left>
                  <ion-icon name='md-checkmark'></ion-icon>
                  {{ "brigades.see" | translate }}
                </button>
              </ion-item>


          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div id="map_canvas"></div>
  </div>
  <div *ngIf="!brigades" padding>
    Não foram encontradas brigadas
  </div>
</ion-content>