<ion-header>
  <ion-navbar >

    <ion-buttons end>
       <button ion-button menuToggle icon-only>
         <ion-icon name="menu"></ion-icon>
       </button>
     </ion-buttons >

    <ion-title> Fires</ion-title>
  </ion-navbar>
</ion-header>



<ion-content class="chats-page-content">
  <ion-list class="chats">
    <ion-item-sliding *ngFor="let fire of fires">
      <button ion-item (click)="showFire(fire)">
        <div class="chat-info">
          <h2 class="chat-title">{{fire.name}}</h2>

          <span *ngIf="brigade.city" class="last-message">
            <p class="last-message-content">{{fire.city}}</p>
            <span class="last-message-timestamp">{{fire.createdAt}}</span>
          </span>
        </div>
      </button>

      <ion-item-options class="chat-options">
        <button danger class="option option-remove" (click)="removeBrigade(brigade)">Remove</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
