<ion-header>
  <ion-navbar>
    <ion-title>{{ "fires.title" | translate }}</ion-title>

    <button ion-button menuToggle icon-only>
     <ion-icon name="menu"></ion-icon>
   </button>

    <ion-buttons end>
      <button ion-button (click)="addFire()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content >
  <button ion-button block (click)="tracking()">Tracking Test</button>


  <div *ngIf="fires">

    <ion-card *ngFor="let fire of fires; let i = index;">

      <ion-item text-wrap >
        <h2>{{fire.name}}</h2>
        <p>{{fire.description}}</p>
      </ion-item>

      <ion-list>
        <ion-item text-wrap *ngIf="fire.createdAt">
          <ion-icon name="md-calendar" item-left large></ion-icon>
          <h2>{{fire.createdAt.substring(0,16)}}</h2>
        </ion-item>

        <ion-item text-wrap>
          <ion-icon name="md-pricetag" item-left large></ion-icon>
          <h2>{{fire.city}}</h2>
        </ion-item>

        <ion-item actions>
          <button (click)="showFire(fire)" ion-button color="secondary" clear item-right icon-left>
            <ion-icon name='md-checkmark'></ion-icon>
            {{ "fire.see" | translate }}
          </button>
        </ion-item>

      </ion-list>

    </ion-card>
    <div id="map_canvas"></div>
  </div>
  <div *ngIf="!fires" padding>
    Não foram encontradas fire
  </div>
</ion-content>
