<ion-header>
  <ion-navbar>
    <ion-title> {{ "fires.title" | translate }}</ion-title>

    <button ion-button menuToggle icon-only>
     <ion-icon name="menu"></ion-icon>
   </button>

    <ion-buttons end>
      <button ion-button (click)="addFire()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>



<ion-content class="chats-page-content">
  <button ion-button block (click)="tracking()">Tracking Test</button>
  <ion-list class="chats">
    <ion-item-sliding *ngFor="let fire of fires">
      <button ion-item (click)="showFire(fire)">
        <div class="chat-info">
          <h2 class="chat-title">{{fire.name}}</h2>

          <span *ngIf="brigade.city" class="last-message">
            <p class="last-message-content">{{fire.city}}</p>
            <span class="last-message-timestamp">{{fire.createdAt}}</span>
          </span>
        </div>
      </button>

      <ion-item-options class="chat-options">
        <button danger class="option option-remove" (click)="removeBrigade(brigade)">Remove</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
