<ion-header>
  <ion-navbar>
    <ion-title>{{ "brigade.new.title" | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button *ngIf="!isReadonly()" (click)="save()">
        <ion-icon name="checkmark-round"></ion-icon>{{"done" | translate}}
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content class="new-chat">
  <ion-list class="users">
    <ion-item>
      <ion-label floating>{{ "name" | translate }} </ion-label>
      <ion-input [(ngModel)]="brigade.name" (keypress)="onInputKeypress($event)" [readonly]="isReadonly()" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>{{ "city" | translate }} </ion-label>
      <ion-input [(ngModel)]="brigade.city" (keypress)="onInputKeypress($event)" [readonly]="isReadonly()" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>{{ "description" | translate }} </ion-label>
      <ion-input [(ngModel)]="brigade.description" (keypress)="onInputKeypress($event)" [readonly]="isReadonly()" type="textarea"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list class="leaders">
    <ion-list-header>
      Leaders
    </ion-list-header>
    <ion-item *ngFor="let user of brigade.leaders; let i = index;">
      <!--<ion-thumbnail item-left>
        <img src="img/thumbnail-totoro.png">
      </ion-thumbnail>
      <p>{{user.createdAt}}</p>-->
      <h2>{{user.name}}</h2>
      <!--<button ion-button clear item-right >View</button>-->
    </ion-item>
  </ion-list>


  <ion-list class="brigades">
    <ion-list-header>
      Brigades
    </ion-list-header>
    <ion-item *ngIf="!brigade.brigades || brigade.brigades.length==0">
      <h2>{{ "notfounditems" | translate }}</h2>
    </ion-item>
    <ion-item *ngFor="let user of brigade.brigades; let i = index;">
      <h2>{{user.name}}</h2>
      <ion-note item-right>{{user.createdAt}}</ion-note>
      <button ion-button clear item-right (click)="promoteBrigade(user._id)" *ngIf="!isReadonly()">Promote</button>
    </ion-item>
  </ion-list>


  <ion-list *ngIf="!isReadonly()">
    <ion-list-header>
      Requested
    </ion-list-header>
    <ion-item *ngIf="!brigade.requested || brigade.requested.length==0">
      <h2>{{ "notfounditems" | translate }}</h2>
    </ion-item>
    <ion-item *ngFor="let user of brigade.requested; let i = index;">
      <h2>{{user.name}}</h2>
      <p>{{user.createdAt}}</p>
      <button ion-button clear item-right  (click)="approveBrigade(user._id)" *ngIf="!isReadonly()">Approve</button>
    </ion-item>
  </ion-list>

  <ion-segment>
    <ion-segment-button value="enter" *ngIf="!isInBrigade()" (click)="requestEnter()">
      Entrar na Brigada
    </ion-segment-button>
    <ion-segment-button value="leave" *ngIf="isInBrigade()" (click)="leaveBrigade()">
      Sair da Brigada
    </ion-segment-button>
    <ion-segment-button value="area" (click)="showMap()">
      Ver Área
    </ion-segment-button>
  </ion-segment>

  <div #map id="map"></div>

</ion-content>
