<h1>Hi <%= user.name %> , </h1>
<br/>

<h2>we received a request to recover your password! Clique in the link and inform the new password</h2>

<a href='https://brigadistacivil.com.br/#/recover/<%= token %>'>Set a new password</a>


<h2>If you do not asked for this, ignore this email. If that repeats please enter in touch with us!</h2>
